<p>input-output works!</p>
<app-counter (onData)="test($event)" [name]="'Counter 1'" [counterValue]="5"></app-counter>
<app-counter (onData)="test($event)" [name]="'Counter 2'" [counterValue]="10"></app-counter>
<app-counter (onData)="test($event)" [name]="getData()"></app-counter>
<app-counter>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Magni, ut. Excepturi in quod, repellat aut facere reiciendis
     saepe aliquid eveniet! Deleniti quasi atque
     fuga esse, facilis dignissimos recusandae dolor natus.
</app-counter>
<app-counter>
    <p>Hello</p>
</app-counter>
<app-counter>
    <h4>Bye</h4>
</app-counter>


