<!-- <p>add-product works!</p> -->
<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="form-group">
      <label for="product">Product</label>
      <input  type="text" class="form-control" id="product"  placeholder="Enter data" formControleName="email">
    <div class="alert alert-danger" *ngIf="email.errors && email.touched">
      <p *ngIf="email.errors.email">email was write incorect</p>
      <p *ngIf="email.errors.required">pole obyazatelno</p>
    </div>
   </div>

<div class="form-group">
    <label for="product">Price</label>
    <input  type="text" class="form-control" id="product"  placeholder="Enter data" formControleName="password">
    <div class="alert alert-danger" *ngIf="password.hasError('minLength') && password.touched">Length have to be 6 symbol</div>
</div>
  
    

    <button  class="btn btn-primary" >Submit</button>
  </form>